{"openapi":"3.0.1","info":{"title":"Xechat Manager API","description":"Xechat 管理后台接口文档","contact":{"name":"xechat"},"version":"1.0.0"},"servers":[{"url":"http://dld.lesscoding.net/xeManager","description":"Generated server url"}],"paths":{"/gameInfo/update":{"put":{"tags":["游戏管理"],"summary":"修改游戏","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoUpdateDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultGameInfo"}}}}}}},"/gameInfo/status":{"put":{"tags":["游戏管理"],"summary":"修改游戏状态","operationId":"updateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameStatusDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/roles":{"post":{"tags":["用户管理"],"summary":"给用户分配角色（全量覆盖）","operationId":"assignRoles","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRolesDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/register":{"post":{"tags":["用户管理"],"summary":"用户注册","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/refresh":{"post":{"tags":["用户管理"],"summary":"刷新Token","operationId":"refresh","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/login":{"post":{"tags":["用户管理"],"summary":"用户登录","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/list":{"post":{"tags":["用户管理"],"summary":"分页查询用户","operationId":"list","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserQueryDtoSysUser"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageSysUser"}}}}}}},"/storage/save":{"post":{"tags":["云存档管理"],"summary":"保存存档","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/storage/load":{"post":{"tags":["云存档管理"],"summary":"读取存档","operationId":"load","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageLoadQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/storage/delete":{"post":{"tags":["云存档管理"],"summary":"删除存档","operationId":"delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageLoadQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/server":{"post":{"tags":["鱼塘服务器管理"],"summary":"新增服务器","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/server/update":{"post":{"tags":["鱼塘服务器管理"],"summary":"修改服务器","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/server/page":{"post":{"tags":["鱼塘服务器管理"],"summary":"服务器列表分页查询","operationId":"page","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageServerInfo"}}}}}}},"/role":{"post":{"tags":["角色管理"],"summary":"新增角色","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/role/update":{"post":{"tags":["角色管理"],"summary":"修改角色","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/role/page":{"post":{"tags":["角色管理"],"summary":"角色分页查询","operationId":"page","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageRole"}}}}}}},"/operLog/list":{"post":{"tags":["操作日志"],"summary":"操作日志分页查询","operationId":"list","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperLogQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageOperationLog"}}}}}}},"/menu":{"post":{"tags":["菜单管理"],"summary":"新增菜单","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/menu/update":{"post":{"tags":["菜单管理"],"summary":"修改菜单","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/menu/assignMenus":{"post":{"tags":["菜单管理"],"summary":"保存角色菜单关联（全量覆盖）","operationId":"assignMenus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignMenuDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/leaderboard/submit":{"post":{"tags":["排行榜管理"],"summary":"提交分数","operationId":"submit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/leaderboard/ranking":{"post":{"tags":["排行榜管理"],"summary":"排行榜查询","operationId":"ranking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RankingQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/gameInfo/version/next":{"post":{"tags":["游戏管理"],"summary":"生成并回显新版本号（level: major/minor/patch，gameId 为空返回 1.0.0）","operationId":"nextVersion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionNextDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultString"}}}}}}},"/gameInfo/upload":{"post":{"tags":["游戏管理"],"summary":"上传游戏部署包（仅 .tar.gz，部署并更新版本）","operationId":"upload","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DeployUploadDTO"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDeployVO"}}}}}}},"/gameInfo/list":{"post":{"tags":["游戏管理"],"summary":"游戏列表（分页）","operationId":"list","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageGameInfo"}}}}}}},"/gameInfo/history":{"post":{"tags":["游戏管理"],"summary":"部署历史","operationId":"history","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListDeployVO"}}}}}}},"/gameInfo/download":{"post":{"tags":["游戏管理"],"summary":"下载游戏部署包","operationId":"download","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/gameInfo/deploy":{"post":{"tags":["游戏管理"],"summary":"游戏更新部署（复用已上传 fileId 部署包，不重新上传；校验 fileId/version 非空后直接部署）","operationId":"deploy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployUploadDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDeployVO"}}}}}}},"/gameInfo/current":{"post":{"tags":["游戏管理"],"summary":"当前部署版本","operationId":"current","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDeployVO"}}}}}}},"/gameInfo/create":{"post":{"tags":["游戏管理"],"summary":"新增游戏（gameName 重复时返回'游戏名重复'；携带 packageFileId 时自动部署到 nginx）","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameInfoSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultGameInfo"}}}}}}},"/file/upload":{"post":{"tags":["文件管理"],"summary":"上传文件（需登录；multipart 表单绑定 FileUploadDTO，bizType 取字典 file_type 项编码：game_pkg/game_icon/user_avatar，game_icon/user_avatar 按 MD5 去重）","operationId":"upload","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/FileUploadDTO"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultSysFile"}}}}}}},"/file/page":{"post":{"tags":["文件管理"],"summary":"分页查询文件列表（需登录；fileName 模糊 + bizType 精确，按 id 倒序；body 为 FilePageQuery record）","operationId":"page","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilePageQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageSysFile"}}}}}}},"/dict/types":{"post":{"tags":["字典管理"],"summary":"字典类型列表（已启用）","operationId":"listTypes","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/types/list":{"post":{"tags":["字典管理"],"summary":"字典类型分页查询","operationId":"listTypesPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictQuerySysDictType"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageSysDictType"}}}}}}},"/dict/type":{"post":{"tags":["字典管理"],"summary":"新增字典类型","operationId":"createType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictTypeSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/type/update":{"post":{"tags":["字典管理"],"summary":"修改字典类型","operationId":"updateType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictTypeSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/items/type":{"post":{"tags":["字典管理"],"summary":"字典项列表（按类型编码，含禁用，可按条目值过滤）","operationId":"listItemsByTypeId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictQuerySysDictItem"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageSysDictItem"}}}}}}},"/dict/item":{"post":{"tags":["字典管理"],"summary":"新增字典项","operationId":"createItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictItemSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/item/update":{"post":{"tags":["字典管理"],"summary":"修改字典项","operationId":"updateItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictItemSaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/deployHistory":{"post":{"tags":["部署历史管理"],"summary":"新增部署历史","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameDeployHistorySaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/deployHistory/update":{"post":{"tags":["部署历史管理"],"summary":"修改部署历史","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameDeployHistorySaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/deployHistory/list":{"post":{"tags":["部署历史管理"],"summary":"部署历史分页查询","operationId":"list","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameDeployHistoryQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageGameDeployHistory"}}}}}}},"/dashboard/stats":{"post":{"tags":["仪表盘统计"],"summary":"仪表盘统计指标","operationId":"stats","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDashboardStatsVO"}}}}}}},"/category":{"post":{"tags":["游戏分类管理"],"summary":"新增游戏分类","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameCategorySaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/category/update":{"post":{"tags":["游戏分类管理"],"summary":"修改游戏分类","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameCategorySaveDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/category/tree":{"post":{"tags":["游戏分类管理"],"summary":"游戏分类树（仅启用）","operationId":"tree","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/category/list":{"post":{"tags":["游戏分类管理"],"summary":"游戏分类分页查询","operationId":"list","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GameCategoryQuery"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultIPageGameCategory"}}}}}}},"/category/enabled":{"post":{"tags":["游戏分类管理"],"summary":"游戏分类列表（仅启用，扁平）","operationId":"listEnabled","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/achievement/progress":{"post":{"tags":["成就管理"],"summary":"更新成就进度","operationId":"progress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProgressDTO"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProgressResult"}}}}}}},"/user/userInfo":{"get":{"tags":["用户管理"],"summary":"获取当前用户信息","operationId":"userInfo","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/user/roles/{userId}":{"get":{"tags":["用户管理"],"summary":"按用户查询角色列表","operationId":"userRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListRole"}}}}}}},"/storage/slots/{gameInfoId}":{"get":{"tags":["云存档管理"],"summary":"存档槽位列表","operationId":"slots","parameters":[{"name":"gameInfoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListSaveSlotVO"}}}}}}},"/server/list":{"get":{"tags":["鱼塘服务器管理"],"summary":"获取启用中的服务器列表（公开）","operationId":"list","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListServerInfo"}}}}}}},"/role/list":{"get":{"tags":["角色管理"],"summary":"角色全部列表","operationId":"list","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListRole"}}}}}}},"/menu/tree":{"get":{"tags":["菜单管理"],"summary":"菜单树（含隐藏菜单）","operationId":"tree","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMenuVO"}}}}}}},"/menu/roleMenus":{"get":{"tags":["菜单管理"],"summary":"按角色查询已关联菜单 id 列表","operationId":"roleMenus","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListLong"}}}}}}},"/gameInfo/{gameName}":{"get":{"tags":["游戏管理"],"summary":"游戏详情","operationId":"detail","parameters":[{"name":"gameName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["游戏管理"],"summary":"删除游戏（逻辑删除）","operationId":"delete","parameters":[{"name":"gameName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/gameInfo/history/{id}":{"get":{"tags":["游戏管理"],"summary":"部署历史详情","operationId":"historyDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["游戏管理"],"summary":"删除部署历史记录（逻辑删除）","operationId":"deleteHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/gameInfo/detail/{id}":{"get":{"tags":["游戏管理"],"summary":"游戏详情（按 id，关联文件信息）","operationId":"detailById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultGameInfo"}}}}}}},"/file/view/{fileId}":{"get":{"tags":["文件管理"],"summary":"查看文件（免登录，inline 预览，如图标；支持 HTTP Range 分片）","operationId":"view","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Range","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK"}}}},"/file/download/{fileId}":{"get":{"tags":["文件管理"],"summary":"下载文件（免登录，attachment 下载；支持 HTTP Range 分片）","operationId":"download","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Range","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK"}}}},"/deployHistory/{id}":{"get":{"tags":["部署历史管理"],"summary":"部署历史详情","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["部署历史管理"],"summary":"删除部署历史（逻辑删除）","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/category/{id}":{"get":{"tags":["游戏分类管理"],"summary":"游戏分类详情","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["游戏分类管理"],"summary":"删除游戏分类（禁用，级联禁用子分类）","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/achievement/list/{gameInfoId}":{"get":{"tags":["成就管理"],"summary":"查询用户成就列表","operationId":"list","parameters":[{"name":"gameInfoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListAchievementVO"}}}}}}},"/server/{id}":{"delete":{"tags":["鱼塘服务器管理"],"summary":"删除服务器（逻辑删除）","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/role/{id}":{"delete":{"tags":["角色管理"],"summary":"删除角色（逻辑删除，同时清空关联）","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/operLog/clear":{"delete":{"tags":["操作日志"],"summary":"清空操作日志（物理删除）","operationId":"clear","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/menu/{id}":{"delete":{"tags":["菜单管理"],"summary":"删除菜单（逻辑删除自身及子孙，同时清空关联）","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/type/{id}":{"delete":{"tags":["字典管理"],"summary":"删除字典类型（禁用）","operationId":"deleteType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/dict/item/{id}":{"delete":{"tags":["字典管理"],"summary":"删除字典项（禁用）","operationId":"deleteItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}}},"components":{"schemas":{"ResultObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object"}}},"GameInfoUpdateDTO":{"type":"object","properties":{"gameName":{"type":"string"},"gameNameZhCn":{"type":"string"},"icon":{"type":"string"},"version":{"type":"string"},"status":{"type":"integer","format":"int32"},"description":{"type":"string"},"categoryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"packageFileId":{"type":"integer","format":"int64"}}},"GameInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"gameName":{"type":"string"},"gameNameZhCn":{"type":"string"},"icon":{"type":"string"},"version":{"type":"string"},"gameType":{"type":"string"},"status":{"type":"integer","format":"int32"},"description":{"type":"string"},"versionTime":{"type":"string"},"deployTime":{"type":"string","format":"date-time"},"filePath":{"type":"string"},"extractPath":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"pkgFileId":{"type":"integer","format":"int64"},"categoryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"categoryNames":{"type":"array","items":{"type":"string"}},"playUrl":{"type":"string"},"iconUrl":{"type":"string"},"pkgFileName":{"type":"string"},"downloadUrl":{"type":"string"}}},"ResultGameInfo":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GameInfo"}}},"GameStatusDTO":{"type":"object","properties":{"gameName":{"type":"string"},"status":{"type":"integer","format":"int32"}}},"AssignRolesDTO":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"roleIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"LoginDTO":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"nickname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"status":{"type":"integer","format":"int32"}}},"OrderItem":{"type":"object","properties":{"column":{"type":"string"},"asc":{"type":"boolean"}}},"PageSysUser":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/SysUser"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageSysUser"},"searchCount":{"$ref":"#/components/schemas/PageSysUser"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"SysUser":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"username":{"type":"string"},"passwordHash":{"type":"string"},"nickname":{"type":"string"},"avatar":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"status":{"type":"integer","format":"int32"},"lastLoginTime":{"type":"string","format":"date-time"}}},"UserQueryDtoSysUser":{"type":"object","properties":{"username":{"type":"string"},"nickName":{"type":"string"},"page":{"$ref":"#/components/schemas/PageSysUser"}}},"IPageSysUser":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/SysUser"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageSysUser":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageSysUser"}}},"SaveDTO":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"saveName":{"type":"string"},"saveData":{"type":"string"},"version":{"type":"string"}}},"StorageLoadQuery":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"saveName":{"type":"string"}}},"ServerSaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"ip":{"type":"string"},"port":{"type":"integer","format":"int32"},"version":{"type":"string"},"status":{"type":"integer","format":"int32"},"sort":{"type":"integer","format":"int32"},"remark":{"type":"string"}}},"PageServerInfo":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/ServerInfo"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageServerInfo"},"searchCount":{"$ref":"#/components/schemas/PageServerInfo"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ServerInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"name":{"type":"string"},"ip":{"type":"string"},"port":{"type":"integer","format":"int32"},"version":{"type":"string"},"status":{"type":"integer","format":"int32"},"sort":{"type":"integer","format":"int32"},"remark":{"type":"string"}}},"ServerQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageServerInfo"},"name":{"type":"string"},"ip":{"type":"string"}}},"IPageServerInfo":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/ServerInfo"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageServerInfo":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageServerInfo"}}},"RoleSaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roleCode":{"type":"string"},"roleName":{"type":"string"},"description":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"}}},"PageRole":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/Role"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageRole"},"searchCount":{"$ref":"#/components/schemas/PageRole"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"Role":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"roleCode":{"type":"string"},"roleName":{"type":"string"},"description":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"}}},"RoleQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageRole"},"roleCode":{"type":"string"},"roleName":{"type":"string"}}},"IPageRole":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/Role"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageRole":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageRole"}}},"OperLogQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageOperationLog"},"module":{"type":"string"},"operatorName":{"type":"string"}}},"OperationLog":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"module":{"type":"string"},"action":{"type":"string"},"method":{"type":"string"},"requestMethod":{"type":"string"},"url":{"type":"string"},"params":{"type":"string"},"ip":{"type":"string"},"operatorName":{"type":"string"},"status":{"type":"integer","format":"int32"},"errorMsg":{"type":"string"},"consumeTime":{"type":"integer","format":"int64"}}},"PageOperationLog":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/OperationLog"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageOperationLog"},"searchCount":{"$ref":"#/components/schemas/PageOperationLog"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"IPageOperationLog":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/OperationLog"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageOperationLog":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageOperationLog"}}},"MenuSaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"parentId":{"type":"integer","format":"int64"},"menuName":{"type":"string"},"path":{"type":"string"},"component":{"type":"string"},"icon":{"type":"string"},"permission":{"type":"string"},"type":{"type":"integer","format":"int32"},"sort":{"type":"integer","format":"int32"},"visible":{"type":"integer","format":"int32"}}},"AssignMenuDTO":{"type":"object","properties":{"roleId":{"type":"integer","format":"int64"},"menuIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"SubmitDTO":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"rankKey":{"type":"string"},"score":{"type":"integer","format":"int64"},"extraData":{"type":"string"}}},"RankingQuery":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"rankKey":{"type":"string"},"limit":{"type":"integer","format":"int32"}}},"VersionNextDTO":{"type":"object","properties":{"gameId":{"type":"integer","format":"int64"},"level":{"type":"string"}}},"ResultString":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"string"}}},"DeployUploadDTO":{"type":"object","properties":{"gameName":{"type":"string"},"gameNameZhCn":{"type":"string"},"icon":{"type":"string"},"description":{"type":"string"},"version":{"type":"string"},"categoryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"fileId":{"type":"integer","format":"int64"},"file":{"type":"string","format":"binary"}}},"DeployVO":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"version":{"type":"string"},"versionTime":{"type":"string"},"deployTime":{"type":"string","format":"date-time"},"fileSize":{"type":"integer","format":"int64"},"fileId":{"type":"integer","format":"int64"},"filePath":{"type":"string"},"extractPath":{"type":"string"},"uploadUserId":{"type":"integer","format":"int64"},"remark":{"type":"string"}}},"ResultDeployVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DeployVO"}}},"GameInfoQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageGameInfo"},"gameName":{"type":"string"},"gameType":{"type":"string"},"status":{"type":"integer","format":"int32"},"versionTime":{"type":"string"}}},"PageGameInfo":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/GameInfo"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageGameInfo"},"searchCount":{"$ref":"#/components/schemas/PageGameInfo"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"IPageGameInfo":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/GameInfo"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageGameInfo":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageGameInfo"}}},"ResultListDeployVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/DeployVO"}}}},"GameInfoSaveDTO":{"type":"object","properties":{"gameName":{"type":"string"},"gameNameZhCn":{"type":"string"},"icon":{"type":"string"},"version":{"type":"string"},"status":{"type":"integer","format":"int32"},"description":{"type":"string"},"categoryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"packageFileId":{"type":"integer","format":"int64"}}},"FileUploadDTO":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"bizType":{"type":"string"},"subDir":{"type":"string"},"gameName":{"type":"string"},"version":{"type":"string"}}},"ResultSysFile":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SysFile"}}},"SysFile":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"fileName":{"type":"string"},"filePath":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"mimeType":{"type":"string"},"bizType":{"type":"string"},"md5Str":{"type":"string"}}},"FilePageQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageSysFile"},"fileName":{"type":"string"},"bizType":{"type":"string"}}},"PageSysFile":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/SysFile"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageSysFile"},"searchCount":{"$ref":"#/components/schemas/PageSysFile"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"IPageSysFile":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/SysFile"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageSysFile":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageSysFile"}}},"DictQuerySysDictType":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageSysDictType"},"dictType":{"type":"string"},"dictName":{"type":"string"}}},"PageSysDictType":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/SysDictType"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageSysDictType"},"searchCount":{"$ref":"#/components/schemas/PageSysDictType"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"SysDictType":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"dictType":{"type":"string"},"dictName":{"type":"string"},"status":{"type":"integer","format":"int32"},"remark":{"type":"string"}}},"IPageSysDictType":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/SysDictType"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageSysDictType":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageSysDictType"}}},"DictTypeSaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"dictType":{"type":"string"},"dictName":{"type":"string"},"status":{"type":"integer","format":"int32"},"remark":{"type":"string"}}},"DictQuerySysDictItem":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageSysDictItem"},"dictType":{"type":"string"},"dictName":{"type":"string"}}},"PageSysDictItem":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/SysDictItem"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageSysDictItem"},"searchCount":{"$ref":"#/components/schemas/PageSysDictItem"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"SysDictItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"dictTypeId":{"type":"integer","format":"int64"},"dictCode":{"type":"string"},"dictValue":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"remark":{"type":"string"}}},"IPageSysDictItem":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/SysDictItem"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageSysDictItem":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageSysDictItem"}}},"DictItemSaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"dictTypeId":{"type":"integer","format":"int64"},"dictCode":{"type":"string"},"dictValue":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"}}},"GameDeployHistorySaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"gameInfoId":{"type":"integer","format":"int64"},"versionTime":{"type":"string"},"deployTime":{"type":"string","format":"date-time"},"fileSize":{"type":"integer","format":"int64"},"filePath":{"type":"string"},"extractPath":{"type":"string"},"uploadUserId":{"type":"integer","format":"int64"},"remark":{"type":"string"}}},"GameDeployHistory":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"gameInfoId":{"type":"integer","format":"int64"},"fileId":{"type":"integer","format":"int64"},"version":{"type":"string"},"versionTime":{"type":"string"},"deployTime":{"type":"string","format":"date-time"},"fileSize":{"type":"integer","format":"int64"},"filePath":{"type":"string"},"extractPath":{"type":"string"},"uploadUserId":{"type":"integer","format":"int64"},"remark":{"type":"string"}}},"GameDeployHistoryQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageGameDeployHistory"},"gameInfoId":{"type":"integer","format":"int64"},"versionTime":{"type":"string"},"uploadUserId":{"type":"integer","format":"int64"}}},"PageGameDeployHistory":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/GameDeployHistory"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageGameDeployHistory"},"searchCount":{"$ref":"#/components/schemas/PageGameDeployHistory"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"IPageGameDeployHistory":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/GameDeployHistory"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageGameDeployHistory":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageGameDeployHistory"}}},"DashboardStatsVO":{"type":"object","properties":{"gameCount":{"type":"integer","format":"int64"},"userCount":{"type":"integer","format":"int64"},"deployCount":{"type":"integer","format":"int64"},"onlineGameCount":{"type":"integer","format":"int64"},"readMe":{"type":"string"}}},"ResultDashboardStatsVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DashboardStatsVO"}}},"GameCategorySaveDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"parentId":{"type":"integer","format":"int64"},"name":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"}}},"GameCategory":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createTime":{"type":"string","format":"date-time"},"createBy":{"type":"integer","format":"int64"},"updateTime":{"type":"string","format":"date-time"},"updateBy":{"type":"integer","format":"int64"},"delFlag":{"type":"boolean"},"parentId":{"type":"integer","format":"int64"},"name":{"type":"string"},"sort":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"}}},"GameCategoryQuery":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PageGameCategory"},"parentId":{"type":"integer","format":"int64"},"name":{"type":"string"},"status":{"type":"integer","format":"int32"}}},"PageGameCategory":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/GameCategory"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"$ref":"#/components/schemas/PageGameCategory"},"searchCount":{"$ref":"#/components/schemas/PageGameCategory"},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","writeOnly":true},"countId":{"type":"string","writeOnly":true},"pages":{"type":"integer","format":"int64","deprecated":true}}},"IPageGameCategory":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/components/schemas/GameCategory"}},"total":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64","deprecated":true}}},"ResultIPageGameCategory":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IPageGameCategory"}}},"ProgressDTO":{"type":"object","properties":{"gameInfoId":{"type":"integer","format":"int64"},"achCode":{"type":"string"},"add":{"type":"integer","format":"int32"}}},"ProgressResult":{"type":"object","properties":{"unlocked":{"type":"boolean"}}},"ResultProgressResult":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProgressResult"}}},"ResultListRole":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}},"ResultListSaveSlotVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SaveSlotVO"}}}},"SaveSlotVO":{"type":"object","properties":{"saveName":{"type":"string"},"version":{"type":"string"},"sizeBytes":{"type":"integer","format":"int64"},"updateTime":{"type":"string"}}},"ResultListServerInfo":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ServerInfo"}}}},"MenuVO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"parentId":{"type":"integer","format":"int64"},"menuName":{"type":"string"},"path":{"type":"string"},"icon":{"type":"string"},"sort":{"type":"integer","format":"int32"},"type":{"type":"integer","format":"int32"}}},"ResultListMenuVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MenuVO"}}}},"ResultListLong":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"integer","format":"int64"}}}},"AchievementVO":{"type":"object","properties":{"achId":{"type":"integer","format":"int64"},"achCode":{"type":"string"},"achName":{"type":"string"},"description":{"type":"string"},"icon":{"type":"string"},"category":{"type":"string"},"conditionValue":{"type":"integer","format":"int32"},"hidden":{"type":"integer","format":"int32"},"progress":{"type":"integer","format":"int32"},"unlocked":{"type":"integer","format":"int32"},"unlockTime":{"type":"string","format":"date-time"}}},"ResultListAchievementVO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AchievementVO"}}}}}},"x-openapi":{"x-setting":null,"x-markdownFiles":[]}}